body{
  .btn-cafe{
    color: rgba(47, 37, 29, 0.76);
    &:hover{
      color: rgb(47, 37, 29);
      cursor: pointer;
    }
  }

  .btn-outline-cafe
  {
    border: 1px solid rgba(47, 37, 29, 0.308);
    background: #fff;
    color: rgba(47, 37, 29, 0.842);
    &:hover{
      color: #fff;
      background: rgb(47, 37, 29);
    }
  }
  .container
  {
    .carousel
    {
      .carousel-inner{
        height: 550px;
        img{
          width: 100%;
        }
      } 
    }
      .popular
      {
        display: flex;
        .right,.left{
          display: flex;
          justify-content: center;
          align-items: center
        }
        .items
        {
          display: flex;
          overflow-x: auto;
          -ms-overflow-style: none;
          scrollbar-width: none;
          &::-webkit-scrollbar
          {
            display: none;
          }
          .card{
            width: 14rem;
          }
        }
      }
    }
    
    .jumbotron
    {
      background-image:linear-gradient(to right, rgb(37, 26, 22),
                                                    rgb(47, 37, 29) ,
                                                    rgb(57,45,31),
                                                    rgb(68,55,38),
                                                    rgb(57,45,31), 
                                                    rgb(47, 37, 29),
                                                    rgb(37, 26, 22)
                                                    );
      color: rgba(255, 255, 255, 0.938);
      .hour{
        border-bottom: solid 1px #8d7878;
        color: #fff;
      }
    }
}

@media screen and (max-width:838px)
{
  body{
    .container{
      .popular{
        .right,.left{
          display: none;
        }
        }
      }
    }
}

@media screen and (max-width:988px)
{
  body{
    .container{
        table{
          .hidden{
            display: none !important;
          }
        } 
    }
  }
}

@media screen and (max-width:1000px)
{
  body
  {
    .container
    {
        .carousel
      {
        .carousel-inner{
          height:500px;
        } 
      }
    }

  }
}

@media screen and (max-width:700px)
{
  body
  {
    .container
    {
        .carousel
      {
        .carousel-inner{
          height:400px;
        } 
      }
    }

  }
}

@media screen and (max-width:500px)
{
  body
  {
    .container
    {
        .carousel
      {
        .carousel-inner{
          height:300px;
        } 
      }
    }

  }
}