body{

  
  .container
  {
    .carousel
    {
      .carousel-inner{
        height: 550px;
        img{
          width: 100%;
        }
      } 
    }
      .popular
      {
        display: flex;
        .right,.left{
          display: flex;
          justify-content: center;
          align-items: center
        }
        .items
        {
          display: flex;
          overflow-x: auto;
          -ms-overflow-style: none;
          scrollbar-width: none;
          &::-webkit-scrollbar
          {
            display: none;
          }
          .card{
            width: 14rem;
          }
        }
      }
    }
    
    .jumbotron
    {
      .hour{
        border-bottom: solid 1px #5a2e2e;
        color: #5a2e2e;
      }
    }
}

@media screen and (max-width:838px)
{
  body{
    .container{
      .popular{
        .right,.left{
          display: none;
        }
        }
      }
    }
}

@media screen and (max-width:988px)
{
  body{
    .container{
        table{
          .hidden{
            display: none !important;
          }
        } 
    }
  }
}

@media screen and (max-width:1000px)
{
  body
  {
    .container
    {
        .carousel
      {
        .carousel-inner{
          height:500px;
        } 
      }
    }

  }
}

@media screen and (max-width:700px)
{
  body
  {
    .container
    {
        .carousel
      {
        .carousel-inner{
          height:400px;
        } 
      }
    }

  }
}

@media screen and (max-width:500px)
{
  body
  {
    .container
    {
        .carousel
      {
        .carousel-inner{
          height:300px;
        } 
      }
    }

  }
}