body header {
  background: #251a16; }
  body header .navbar {
    background-image: linear-gradient(to right, #251a16, #2f251d, #392d1f, #443726, #392d1f, #2f251d, #251a16);
    color: #2f251d; }
    body header .navbar .logo-button {
      font-family: Orbitron,Arial, Helvetica, sans-serif;
      letter-spacing: 1px; }
      body header .navbar .logo-button .sub {
        font-family: 'Didact Gothic',Arial, Helvetica, sans-serif;
        font-size: 10px;
        letter-spacing: normal; }
      body header .navbar .logo-button div {
        text-align: center;
        margin: 0 2px;
        line-height: 12px; }
    body header .navbar .logo {
      width: 45px; }
body .muk-light {
  color: rgba(255, 255, 255, 0.973); }
  body .muk-light:hover {
    background: #4d3e33;
    color: #fff; }
body .muk-active {
  background: rgba(77, 62, 51, 0.705);
  color: #fff; }
  body .muk-active:hover {
    background: #4d3e33;
    color: #fff; }

body .btn-cafe {
  color: rgba(47, 37, 29, 0.76); }
  body .btn-cafe:hover {
    color: #2f251d;
    cursor: pointer; }
body .btn-outline-cafe {
  border: 1px solid rgba(47, 37, 29, 0.308);
  background: #fff;
  color: rgba(47, 37, 29, 0.842); }
  body .btn-outline-cafe:hover {
    color: #fff;
    background: #2f251d; }
body .container .carousel .carousel-inner {
  height: 550px; }
  body .container .carousel .carousel-inner img {
    width: 100%; }
body .container .popular {
  display: flex; }
  body .container .popular .right, body .container .popular .left {
    display: flex;
    justify-content: center;
    align-items: center; }
  body .container .popular .items {
    display: flex;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none; }
    body .container .popular .items::-webkit-scrollbar {
      display: none; }
    body .container .popular .items .card {
      width: 14rem; }
body .jumbotron {
  background-image: linear-gradient(to right, #251a16, #2f251d, #392d1f, #443726, #392d1f, #2f251d, #251a16);
  color: rgba(255, 255, 255, 0.938); }
  body .jumbotron .hour {
    border-bottom: solid 1px #8d7878;
    color: #fff; }

@media screen and (max-width: 838px) {
  body .container .popular .right, body .container .popular .left {
    display: none; } }
@media screen and (max-width: 988px) {
  body .container table .hidden {
    display: none !important; } }
@media screen and (max-width: 1000px) {
  body .container .carousel .carousel-inner {
    height: 500px; } }
@media screen and (max-width: 700px) {
  body .container .carousel .carousel-inner {
    height: 400px; } }
@media screen and (max-width: 500px) {
  body .container .carousel .carousel-inner {
    height: 300px; } }
footer {
  background-image: linear-gradient(to right, #251a16, #2f251d, #392d1f, #443726, #392d1f, #2f251d, #251a16);
  color: rgba(255, 255, 255, 0.952); }

.container-pdf {
  width: 100%; }
  .container-pdf h3 {
    text-align: center;
    font-size: 1.5em; }
  .container-pdf .bold {
    font-weight: bold; }
  .container-pdf .header {
    width: 100%; }
    .container-pdf .header img {
      width: 15em; }
  .container-pdf .order-details {
    display: flex; }
    .container-pdf .order-details section {
      margin: 0px 10px;
      padding: 15px 10px; }
  .container-pdf table {
    width: 100%;
    margin: 20px 0px;
    border-collapse: collapse; }
    .container-pdf table th, .container-pdf table td {
      border: 1px solid rgba(0, 0, 0, 0.1);
      text-align: center;
      padding: 5px; }
  .container-pdf .products-datail {
    width: 100%;
    text-align: center;
    margin: 40px 0px; }
    .container-pdf .products-datail .detail {
      display: inline-block;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid rgba(0, 0, 0, 0.1); }
  .container-pdf .thanks p {
    text-align: center;
    font-size: 1.3em; }

body {
  font-family: 'Didact Gothic',Arial, Helvetica, sans-serif !important; }
  body .muk-title {
    font-family: Orbitron,Arial, Helvetica, sans-serif !important; }
  body .muk-color-cafe {
    color: #443726; }
  body .muk-link-cafe {
    color: #746552; }
    body .muk-link-cafe:hover {
      color: #2e2519; }
  body .btn-muk-cafe {
    border: 1px solid #746552;
    color: #746552; }
    body .btn-muk-cafe:hover {
      background: #453827;
      color: #fff; }
  body .btn-muk-cafe-active {
    background: #574733;
    color: #fff; }
    body .btn-muk-cafe-active:hover {
      background: #443726;
      color: #fff; }

/*# sourceMappingURL=style.css.map */
